* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

.slide-wrapper {
    overflow: hidden;
}

.slide {
    display: flex;
}

.slide li {
    width: 80%;
    flex-shrink: 0;
    max-width: 800px;
    margin: 0 20px;
    opacity: .8;
    transform: scale(.8);
    transition: .4s;
}

.slide li.ativo {
    opacity: 1;
    transform: scale(1);
}

.arrow-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    font-size: 2.5rem;
}

.arrow-nav div {
    cursor: pointer;
}